.main{
    display: flex;
    flex-direction: column;
    margin: calc(5%) 0;
    margin-left: 1em;
}

/* @media screen and (max-width: 1200px) {

} */

@media screen and (max-width: 768px)
{
    .main{
        align-items: center;
        margin-left: 0.2em;
    }
}